DJANGO_SECRET_KEY=
DJANGO_DEBUG=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
REDIS_URL=

SENTINEL_API_KEY=
SENTINEL_CLIENT_ID=
SENTINEL_CLIENT_SECRET=

